<div>
  <app-navbar></app-navbar>
</div>
<article>
  <div>
    <hr />
    <div style=" position: relative; margin-top: 10%; margin-left: 35%; margin-right: 35%;">
      <p style="font-size:300%; text-align: center; margin-bottom: 0px; margin-top: 0px;"><b>Instruções</b></p>
      <hr />
      <p>
        Apenas usuários com a hierarquia de administrador podem registrar novos usuários (usuário padrão 'adm'
        senha padrão 'adm').
      </p>
      <p>
        Usuários necessitam realizar login para acessar seu dashboard (são deslogados ao sair do dashboard).
      </p>
      <p>
        Na dashboard, usuários verificam suas máquinas atuais, requisitam novas máquinas (de determinado modelo)
        e checam suas solicitações realizadas.
      </p>
      <p>
        Solicitações são aceitas e máquinas são adicionadas aos usuários mediante confirmação de um administrador
        em sua dashboard.
      </p>
    </div>
  </div>
</article>
