
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"">
  <title>Register</title>
</head>
<body>
  <article>
    <div id=centro>
      <p style="font-size:300%; text-align: center; margin-bottom: 0px; margin-top: 0px;"><b>Register</b></p>
        <input type="text" name="Username" #Username="ngModel" [(ngModel)]="user.Username" placeholder="Digite o usuário">
        <br>
        <input type="text" name="Password" #Password="ngModel" [(ngModel)]="user.Password" placeholder="Digite a senha">
        <br>
        <input type="text" name="Hierarchy" #Hierarchy="ngModel" [(ngModel)]="user.Hierarchy" placeholder="Digite a hierarquia">
        <br>
        <input type="image" src="../../assets/estoqr-register.png" unselectable="on" alt="Registrar" width="130" height="40" (click)="onSubmit()">
        <input type="image" src="../../assets/estoqr-register.png" unselectable="on" alt="Voltar" width="130" height="40" (click)="onBack()">
        <br>
    </div>
  </article>
</body>
</html>
