<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

  <svg width="55" height="55" id=squareLeft>
    <rect x="10" y="10" width="40" height="40" style="fill:white;stroke-width:7;stroke:black" />
    <rect x="20" y="20" width="20" height="20" style="fill:black" />
  </svg>
  <svg width="55" height="55" id=squareRight>
    <rect x="10" y="10" width="40" height="40" style="fill:white;stroke-width:7;stroke:black" />
    <rect x="20" y="20" width="20" height="20" style="fill:black" />
  </svg>

  <p class="text-dark">---------</p>
  <a class="navbar-brand" [routerLink]="['/home']">EstoQR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="active">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="footer">
  <svg width="55" height="55" id=squareLeft>
    <rect x="10" y="10" width="40" height="40" style="fill:white;stroke-width:7;stroke:black" />
    <rect x="20" y="20" width="20" height="20" style="fill:black" />
  </svg>
  <p></p>
  <p class="text-light" style="color:white; text-align: center;">Copyright © - Macena Corporation INC. - 2020</p>
</div>
