<br />
<p></p>
<br />
<h3>Request Id: {{request.id}}</h3>
<h4>Modelo da máquina: {{request.model}}</h4>
<h4>Usuário requerente: {{request.user}}</h4>

<hr />
<h3>Máquinas disponíveis: </h3>
<table class="table table-hover" *ngIf="machines && tableHeader; else notMachines">
  <thead>
    <tr>
      <th *ngFor="let head of tableHeader" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of machines">
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">{{m.model}}</td>
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">{{m.manufacturer}}</td>
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">{{m.user}}</td>
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">{{m.processor}}</td>
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">{{m.ram}}</td>
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">
        <div class="row">
          <div class="col-md-6">
            <i class="fas fa-check-circle" (click)="onAccept(m.id, m.model, m.manufacturer, m.processor, m.ram, request.user, request)"></i>
          </div>
        </div>
      </td>
      <td *ngIf="(m.model === request.model) && (m.user === 'Estoque')">
        <div class="row">
          <div class="col-md-6">
            <i class="fas fa-times-circle" (click)="onReffuse(request)"></i>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #notMachines>
  <h4>Nenhuma máquina disponível.</h4>
</ng-template>
<br />
<input type="image" src="../../assets/estoqr-voltar.png" unselectable="on" alt="Voltar" width="130" height="40" (click)="onBack()">
