
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"">
  <title>Login</title>
</head>
<body>
  <article>
    <div id=centro>
      <p style="font-size:300%; text-align: center; margin-bottom: 0px; margin-top: 0px;"><b>Login</b></p>
        <input type="text" name="Username" #Username="ngModel" [(ngModel)]="user.Username" placeholder="Digite seu usuário">
        <br>
        <input type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" placeholder="Digite sua senha">
        <br>
        <input type="image" src="../../assets/estoqr-login.png" unselectable="on" alt="Entrar" width="130" height="40" (click)="onSubmit()">
        <br>
        <a href="">Esqueceu a senha?</a>
    </div>
  </article>
</body>
</html>
