<form #form="ngForm" name="FormMonitor" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="far fa-id-card"></i>
          </div>
        </div>
        <input name="CFit" #CFit="ngModel" [(ngModel)]="monitor.CFit" class="form-control" placeholder="CFit" required />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-laptop"></i>
              </div>
            </div>
            <input name="Manufacturer" #Manufacturer="ngModel" [(ngModel)]="monitor.Manufacturer" class="form-control" placeholder="Fabricante" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-industry"></i>
            </div>
          </div>
          <input name="Size" #Size="ngModel" [(ngModel)]="monitor.Size" class="form-control" placeholder="Tamanho da Tela" />
        </div>
      </div>
    </div>
  </div>
  <input (change)="FieldsChange($event)" value="angular" type="checkbox" /> Estoque TI
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-microchip"></i>
        </div>
      </div>
      <input name="User" #User="ngModel" [(ngModel)]="monitor.User" class="form-control" placeholder="Usuário" *ngIf="this.check === false" />
      <input name="User" #User="ngModel" [(ngModel)]="monitor.User" disabled class="form-control" placeholder="Usuário" *ngIf="this.check === true" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-memory"></i>
        </div>
      </div>
      <input name="Sector" #Sector="ngModel" [(ngModel)]="monitor.Sector" class="form-control" placeholder="Setor" *ngIf="this.check === false" />
      <input name="Sector" #Sector="ngModel" [(ngModel)]="monitor.Sector" disabled class="form-control" placeholder="Setor" *ngIf="this.check === true"/>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-save"></i> Cadastrar</button>
  </div>
</form>




